<!DOCTYPE html>
html(lang="en")
    head
        link(rel="stylesheet", href='static/style.scss')
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Portfolio
        link(rel="shortcut icon", href="static/onigiri.ico", type="image/vnd.microsoft.icon")
    body
        div.mainWrapper
            div.main
                div.left
                    div.iconWrapper
                        img.icon(src="static/omusubi-gift.png" alt="Logo")
                    div.nameWrapper
                        div.name Miku Sano
                div.right
                    div.content
                        span.caption JOB
                        div Server Side Engineer
                    div.content
                        span.caption Birthday
                        div February 21st, 1995
                    div.content
                        span.caption SKILL
                        div.row
                            span.subhead OS
                            span Windows, Amazon Linux, CentOS, macOS
                        div.row
                            span.subhead Language
                            span Java, PHP, JavaScript, HTML, CSS
                        div.row
                            span.subhead Framework/Library
                            span Spring Boot, Phalcon, jQuery, Bootstrap, MyBatis
                        div.row 
                            span.subhead Middleware
                            span Apache HTTP Server, MySQL, Redis
                        div.row 
                            span.subhead Other
                            span Git, SVN, gRPC, Jenkins, Docker, Kubernetes 
                    div.content
                        span.caption LIKE
                        div   Green tea ceremony(茶道), Mountaineering, English, Travel
                    div.content
                        span.caption CONTACT
                        div.row
                            span.subhead E-mail
                            span hi@sano39.me
                        div.row
                            span.subhead GitHub
                            a(href="https://github.com/Miku39" target="_blank") https://github.com/Miku39